<% layout("layouts/boiler") %>

    <h1>Create a new memory</h1>
    <form id="new-form" action="/memory/new" method="POST">
        <%# New images upload %>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="memory[title]">
                <p><%= helpers.getErrorForField(errors, "memory.title") %></p>
            </div>
            <br>
            <div>
                <!-- TODO: create an element that will show rendered output from this textarea(markdown-it module) -->
                <label for="text">Text:</label>
                <textarea name="memory[text]" id="text" cols="30" rows="10"></textarea>

            </div>
            <br>
            <div>
                <label for="private">Private memory?</label>
                <input type="checkbox" id="private" name="private" value="true">

            </div>
            <br>

            <div>
                <label for="fileElem">Add images to upload:</label>
                <!-- <input type="file" id="img" name="images" multiple accept="image/*"> -->
                <br>
                <div>
                    <input type="file" id="fileElem" name="images" multiple accept="image/*" hidden>
                    <a href="#" id="fileSelect">Click to add images</a>
                </div>
                <div id="fileList">
                    <p>No files selected!</p>
                </div>
            </div>
            <br>
            <input type="submit" value="Submit">
    </form>
    <!-- pass in arguments(query string) to the module -->
    <script type="module" src="/js/fileinput.js?form=new-form&file=fileElem&list=fileList&select=fileSelect"></script>