<% layout("layouts/boiler") %>

    <h1>Create a new memory</h1>
    <form id="new-form" action="/memory/new" method="POST">
        <%# New images upload %>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">

            </div>
            <br>
            <div>
                <!-- TODO: create an element that will show rendered output from this textarea(markdown-it module) -->
                <label for="text">Text:</label>
                <textarea name="text" id="text" cols="30" rows="10"></textarea>

            </div>
            <br>
            <div>
                <label for="private">Private memory?</label>
                <input type="checkbox" id="private" name="private">

            </div>
            <br>

            <div>
                <label for="fileElem">Add images to upload:</label>
                <!-- <input type="file" id="img" name="images" multiple accept="image/*"> -->
                <br>
                <div>
                    <input type="file" id="fileElem" name="images" multiple accept="image/*" hidden>
                    <a href="#" id="fileSelect">Click to add images</a>
                </div>
                <div id="fileList">
                    <p>No files selected!</p>
                </div>
            </div>
            <br>
            <input type="submit" value="Submit">
    </form>
    <!-- TODO: try and create a module out of this module and pass params to it-->
    <!-- https://flaming.codes/en/posts/es6-import-with-parameters -->
    <script type="module">
        import { updateFileInput, setupDisplayImagesToUpload } from "/js/fileimages.js"
        import uploadData from "/js/dataupload.js"

        const fileElem = document.getElementById("fileElem");
        const fileSelect = document.getElementById("fileSelect");
        const fileList = document.getElementById("fileList");

        fileSelect.addEventListener("click", e => {
            e.preventDefault(); // prevent navigation to "#"
            if (fileElem) fileElem.click();
        });

        //setup 'change' event listener on <input type="file">
        //params: <file input node>, <div element node>
        setupDisplayImagesToUpload(fileElem, fileList);

        //TODO: create onchange event here

        document.getElementById("new-form").addEventListener("submit", function(e) {
            e.preventDefault();

            const formData = updateFileInput(this, fileElem.getAttribute("name"));
            uploadData(formData, this.getAttribute("action").slice(1));
        });
    </script>