<div id="loading" class="hidden">
    <h2>Loading...</h2>
</div>
<% if(success) { %>
    <div class="notify-message success">
        <h3><%= success.msg %></h3>
    </div>
<% } %>
<% if(failure) { %>
    <div class="notify-message failure">
        <h3><%= failure.msg %> </h3>
    </div>
<% } %>