<% if(success) { %>
    <div class="notify-message success">
        <h3><%= success.msg %></h3>
    </div>
<% } %>
<% if(failure) { %>
    <div class="notify-message failure">
        <h3><%= failure.msg %> </h3>
    </div>
<% } %>
<% if(error) { %>
    <div class="notify-message error">
        <h3><%= error.msg %> </h3>
    </div>
<% } %>