.hidden {
    display: none;
}

.images {
    display: flex;
}

.image {
    flex: 1;
    border: 1px solid
}

.delete {
    display: none;
}

.image:hover > .delete {
    display: inline;
}

.delete:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}


.deleteImageCheckbox + label {
    display: block;
    cursor: pointer;
    transition-duration: 0.6s;
}

.deleteImageCheckbox:checked + label {
    opacity: 0.5;
    filter: grayscale(100%) blur(1.5px);
}

.success {
    background-color: green;
    color: azure;
}

.failure {
    background-color: orange;
    color: azure;
}

.error {
    background-color: red;
    color: azure;
}

.notify-message, #spinner {
  position: fixed; 
  width: 40vw; 
  margin: auto; 
  top: 2px;
  left: 0; 
  right: 0; 
  z-index: 2;
  border: 1px solid;
  text-align: center;
}