<% layout("layouts/boiler") %> 
<h1>All memories</h1>
<div class="memories">

</div>
<button id="scroll">Load more</button>

<script>
    // const lastMem = document.querySelector(".memory:last-child");
    const defaultNumberOfMemories = 2;
    //TODO: check if session storage exists; if it does set defaultNumberOfMemories to count and scroll to the bottom
    //user refreshed the page or went back from another page
    const historyCount = sessionStorage.getItem("memoryCount");

    const count = historyCount || defaultNumberOfMemories;

    const memories = document.querySelector(".memories");

    console.log("memoryCount", count);
    console.log(memories);

    document.querySelector("#scroll").addEventListener("click", function(e) {
        window.dispatchEvent(new CustomEvent("scroll"));
    });

    async function fetchUrlEncoded(path, params) {
        const searchParams = new URLSearchParams(params);

        return fetch(`http://localhost:3000/${path}?${searchParams.toString()}`)
            .then(res => res.json())
            .catch(e => {
                console.error(e);
            });
    }
    fetchUrlEncoded("api/root", {count})
        .then(data => console.log("hey", data));
    //TODO: see if you can build a query string dynamically
    //TODO: create a function out of fetch
    //fetch(`http://localhost:3000/api/root?count=${count}`)
    //    .then(res => res.json())
    //    .then(data => {
    //        console.log(data);
    //        memories.insertAdjacentHTML("beforeend", getMemoriesHTML(data.memories));

    //        if (historyCount) {
    //            //scroll to the bottom of page
    //            window.scrollTo({ left: 0, top: document.body.scrollHeight - window.innerHeight, behavior: "smooth" });
    //        }
    //        //TODO: save number of memories to session storage
    //        sessionStorage.setItem("memoryCount", memories.children.length);
    //    })
    //    .catch(e => {
    //        console.error(e);
    //    });

    window.addEventListener("scroll", function(e) {
        //trigger when scrolled to the bottom of page
        //https://stackoverflow.com/a/22394544
        const scrollTop = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        const scrollHeight = (document.documentElement && document.documentElement.scrollHeight) || document.body.scrollHeight;
        const scrolledToBottom = (scrollTop + window.innerHeight) >= scrollHeight;

        if (scrolledToBottom) {
            const memories = document.querySelector(".memories");
            const lastMem = memories.lastElementChild;

            fetch(`http://localhost:3000/api/root?created=${lastMem.dataset.date}&count=${defaultNumberOfMemories}`)
                .then(res => res.json())
                .then(data => {
                    console.log(data)
                    memories.insertAdjacentHTML("beforeend", getMemoriesHTML(data.memories));
                    //TODO: save number of memories to session storage
                    sessionStorage.setItem("memoryCount", memories.children.length);
                })
                .catch(e => {
                    console.error(e);
                });
            console.log("Bottom of page");
        }
    });

    function getMemoriesHTML(data) {
        const html = data.map(({ title, text, author, _id:id, isPrivate, created }) => {
            if(!isPrivate) {
                return `
                    <div class="memory" style="border: 1px solid" data-date="${ created }">
                        <h1>${ title }</h1>
                        <p>${ text }</p>
                        <h2>${ author.username }</h2>
                        <em>${ created }</em>
                        <p><a href="/memory/show/${ id }">Show me more</a></p>
                    </div>
                `;
            }
            return null;
        });
        return html.filter(str => str).join("\n");
    }
</script>
