<% layout("layouts/boiler") %>
<form method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="email">Email</label>
    <input id="email" type="text" name="email">
    <label for="password">Password</label>
    <input id="password" type="text" name="password">
    <label for="confirm">Confirm Password</label>
    <input id="confirm" type="text" name="confirm">
    <input type="submit">
</form>

    <script>

    </script>