<% layout("layouts/boiler") %> 
<h1>Test page</h1>
<form method="POST">
    <label for="text"></label>
    <input id="text" type="text" name="myinput">
    <input type="submit" value="Submit">
</form>