<% layout("layouts/boiler") %> 
<h1>Test page</h1>
<% memories.forEach(({ title, text, author, _id:id, isPrivate, gallery }) => { %>
    <% if(!isPrivate) { %>
    <div style="border: 1px solid">
        <h1><%= title %> </h1>
        <p><%= text %> </p>   
        <h2><%= author.username %></h2>
        <p><a href="/memory/show/<%= id %>">Show me more</a></p>
    </div>
    <% } %> 
<% }) %>
