<% layout("layouts/boiler") %>

    <h1>Upload images</h1>
    <form id="upload-form" method="POST" enctype="multipart/form-data">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user">
        <br>
        <br>
        <label for="img">Select image to upload:</label>
        <input type="file" id="img" name="images" multiple accept="image/*">
        <br>
        <input type="submit" value="Upload">
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            createSubmitImageUploadEvent("upload-form", "upload");
        });
        // public/js/code.js
        //fetch("http://localhost:3000/test/", {
        //    method: 'POST',
        //    headers: {
        //        'Content-Type': 'application/x-www-form-urlencoded'
        //    },
        //    body: `access=hello&user=world`
        //})
        //        .then(response => {
        //            return response.json();
        //        })
        //        .then(data => {
        //            window.location = data.redirect;
        //        })

    </script>